body{
    background-color: red;
    text-align: center ;
    }

    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
        color: white;
        margin-top:7em;
    }

